<!doctype html>
<html>
	<head>
		<style type="text/css">
			.center { text-align: center; width: 300px; margin-left: auto; margin-right: auto; }
		</style>
	</head>
	<body>
		<div class="center">
			<h2>Søgemuligheder</h2>
			<p>
				Alle søgninger fortages mod <code>/search</code>. Der kan laves en kombination af søgemuligheder med følgende paramtre:<br>
				<code>
					name => 'string'<br>
					street => 'string'<br>
				  _id => 'int'<br>
					zip => 'int'<br>
					cvr => 'int'<br>
					pnr => 'int'<br>
					elite => 'int'<br>
					advertisementProtection => 'bool'<br>
					lat => 'float'<br>
					lon => 'float'<br>
					max_dist => 'int'
				</code>
			</p>
		</div>
	</body>
</html>
