<!doctype html>
<html>
	<head>
		<style type="text/css">
			.center { text-align: justify; width: 300px; margin-left: auto; margin-right: auto; }
		</style>
	</head>
	<body>
		<div class="center">
			<h2>Endpoints available</h2>
			<ul>
				<li><pre>/near/:lat/:lon/:max_dist</pre></li>
				<ul>
					<li><pre>:lat =&gt; latitude</pre></li>
					<li><pre>:lon =&gt; longitude</pre></li>
					<li><pre>:max_dist =&gt; max distance in meters</pre></li>
				</ul>
				<li><pre>/zip/:zip</pre></li>
				<li><pre>/id/:id</pre></li>
				<li><pre>/cvr/:cvr</pre></li>
				<li><pre>/pnr/:pnr</pre></li>
				<li><pre>/elite/:elite</pre></li>
				<li><pre>/name/:name</pre></li>
			</ul>
		</div>
	</body>
</html>
